footer {
    width: 100%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid $secondary;
    .socials {
        width: 100%;
        margin-bottom: 35px;
        display: flex;
        @include mobile {
            justify-content: space-between;
        }
        @include desktop {
            justify-content: center;
        }
        a {
            @include desktop {
                &:not(:last-of-type) {
                    margin-right: 35px;
                }
            }
            &:hover {
                opacity: .7;
            }
            .icon {
                font-size: 35px;
            }
        }
    }
}