.skills {
    width: 100%;
    .skill {
        margin-bottom: 35px;
        padding: 35px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: 1px solid $secondary;
        border-radius: 7px;
        .type {
            margin-bottom: 35px;
        }
        .icons {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
                .icon {
                    font-size: 35px;
                    @include desktop {
                        font-size: 70px;
                    }
                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }
    }
}